__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

.ipynb_checkpoints/
.pytest_cache/

.env
.venv/
.vscode/

dist/
build/
frontend/node_modules/
frontend/dist/

.DS_Store

outputs/figures/*
outputs/tables/*
outputs/schedules/*

.env
register_watttime.py
login_watttime.py
frontend/src-tauri/target/
frontend/src-tauri/gen/

# ignore backend sidecar binary
frontend/src-tauri/binaries/*.exe
